#  _    _          ___           __ _     (R)
# | |  (_)_ _____ / __|___ _ _  / _(_)__ _
# | |__| \ V / -_) (__/ _ \ ' \|  _| / _` |
# |____|_|\_/\___|\___\___/_||_|_| |_\__, |
#                                    |___/
# Copyright (c) 2009-2021 LiveConfig GmbH.
# ----------------------------------------------------------------------------
# systemd unit file for LiveConfig SpamAssassin Milter (lcsam)
# ----------------------------------------------------------------------------

[Unit]
Description=LiveConfig SpamAssassin Milter
Before=postfix.service
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/lcsam.pid
ExecStart=/usr/lib/liveconfig/lcsam -g spamd -U postfix
Restart=on-failure

[Install]
WantedBy=multi-user.target

# ----------------------------------------------------------------------------
